{% load user_type %}

<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-left">
                    <div class="hamburger sidebar-toggle">
                        <span class="line"></span>
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="float-right">
                    <ul>
                        <li class="header-icon dib"><span class="user-avatar">{{ full_name }} <i class="ti-angle-down f-s-10"></i></span>
                            <div class="drop-down dropdown-profile">
                                <div class="dropdown-content-body">
                                    <ul>
                                        {% get_user_type request.user.pk as user_type %}
                                        {% if user_type == "doctor" %}
                                            <li><a href="{% url 'doctor_password_change' %}"><i class="ti-key"></i> <span>Change Password</span></a></li>
                                        {% endif %}
                                        <li><a href="{% url 'logout' %}"><i class="ti-power-off"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
