{% load static %}

<header role="banner" class="probootstrap-header py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <a href="/" class="mr-auto"><img src="{% static 'theme/images/logo.png' %}" alt="Health Center Portal, IIIT Lucknow" class="home-logo"></a>
            </div>  
            <div class="col-md-9">
                <div class="float-md-right float-none">
                    <div class="probootstrap-contact-phone d-flex align-items-top mb-3 float-left">
                        <span class="icon mr-2"><i class="icon-phone"></i></span>
                        <span class="probootstrap-text home-contact-no"> +91 9454 0202 11 <small class="d-block">Make A Call</i></small></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
