<!-- Nav Start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav" aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a href="index.html" class="nav-link pl-0">Home</a></li>
                <li class="nav-item"><a href="departments.html" class="nav-link">Departments</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><a href="contact.html" class="nav-link">Dashboard</a></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!-- Nav End -->
