.google--login svg {
  width: 2em;
  height: 2em;
  margin-bottom: -8px;
  margin-right: 5px;
}

.google--login {
  color: white;
  background: #DD4B39
}

.google--login:hover,
.google--login:focus {
  background: #E74B37;
}

ul.errorlist {
  color: red;
}

.home-logo {
  width: 424px;
  height: 96px;
}

@media (max-width: 465px) {
  .home-logo {
    width: 212px;
    height: 48px;
  }
  .home-contact-no {
    font-size: 25px;
  }
}

.doctor-card-dp {
  max-height: 250px;
}