{% extends "base.html" %}

{% load user_type %}
{% load static %}

{% block nav_home_active %}active{% endblock %}

{% block content %}

    {% include "header.html" %}

    <section class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h1 class="display-4">Welcome</h1>
                    {% comment %} <p class="lead text-secondary">A free bootstrap template by <a href="https://uicookies.com/" target="_blank">uicookies.com</a></p> {% endcomment %}
                </div>
            </div>
        </div>
    </section>
    <section class="probootstrap-features-1">
        <div class="container">
            <div class="row">
                <div class="col-md probootstrap-feature-item" style="background-image: url({% static 'theme/images/img_1.png' %});">
                    <div class="probootstrap-feature-item-text">
                        <span class="icon"><i class="flaticon-first-aid-kit display-4"></i></span>
                        {% comment %} <h2>Pediatric <span>Therapy</span></h2> {% endcomment %}
                    </div>
                </div>
                <div class="col-md probootstrap-opening">
                    <h2 class="text-uppercase mb-3">Opening Hour <span>Medical Center</span></h2>
                    <ul class="list-unstyled probootstrap-schedule">
                        <li>Mon-Fri <span>5:00-17:00</span></li>
                        <li>Sat <span>6:30-17:00</span></li>
                        <li>Sun <span>6:30-17:00</span></li>
                    </ul>
                </div>
                <div class="col-md probootstrap-feature-item" style="background-image: url({% static 'theme/images/img_2.jpg' %});">
                    <div class="probootstrap-feature-item-text">
                        <span class="icon"><i class="flaticon-gym-control-of-exercises-with-a-list-on-a-clipboard-and-heart-beats display-4"></i></span>
                        {% comment %} <h2>Psychiatric <span>Therapy</span></h2> {% endcomment %}
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <section class="probootstrap-services">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-3 probootstrap-aside-stretch-left">
                    <div class="mb-5">
                        <h2 class="h6">About</h2>
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet ex vitae viverra sodales. Ut molestie est quam, vel hendrerit lacus bibendum a.</p>
                        <p><a href="{% url 'about' %}" class="arrow-link text-white">More information  <i class="icon-chevron-right"></i></a></p>
                    </div>
                </div>
                <div class="col-md-9 pl-md-5 pl-0">
                    <div class="row mb-5">
                        <div class="col">
                            <div class="media d-block mb-4 text-left probootstrap-media">
                                <div class="media-body">
                                    <h2 class="h2 mt-0 text-secondary mb-4">Latest Announcements</h3>
                                    {% if announcements %}
                                        <ul>
                                            {% for announcement in announcements %}
                                                <li class="mb-2">
                                                    <a href="{% url 'announcement_detail' announcement.slug %}">
                                                        {{ announcement.title }} - <i>{{ announcement.date_posted }}</i>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        No Announcements Found.
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="probootstrap-section bg-light pt-4 pb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    {% if request.user.is_authenticated %}
                        <h2 class="h1 mb-4">Visit Your Dashboard</h2>
                        {% get_user_type request.user.pk as user_type %}
                        {% if user_type == "student" %}
                            <div class="row justify-content-center">
                                <div class="col-md-3"><a href="{% url 'student_dashboard' %}" class="btn btn-secondary btn-block">Dashboard</a></div>
                            </div>
                        {% endif %}
                        {% if user_type == "doctor" %}
                            <div class="row justify-content-center">
                                <div class="col-md-3"><a href="{% url 'doctor_dashboard' %}" class="btn btn-secondary btn-block">Dashboard</a></div>
                            </div>
                        {% endif %}
                        {% if user_type == "staff" %}
                            <div class="row justify-content-center">
                                <div class="col-md-3"><a href="{% url 'admin:index' %}" class="btn btn-secondary btn-block">Dashboard</a></div>
                            </div>
                        {% endif %}
                    {% else %}
                        <h2 class="h1 mb-4">Login To Your Dashboard</h2>
                        <!-- <p class="lead text-secondary">Far far away, behind the word mountains, far from the countries Vokalia.</p> -->
                        <div class="row justify-content-center">
                            <div class="col-md-3"><a href="{% url 'login' %}" class="btn btn-secondary btn-block">Login</a></div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="probootstrap-section" id="section-counter">
        <div class="container">
            <div class="row">
                <div class="col-md probootstrap-animate">
                    <div class="probootstrap-counter text-center">
                        <span class="probootstrap-number" data-number="10">0</span>
                        <span class="probootstrap-label">Doctor</span>
                    </div>
                </div>
                <div class="col-md probootstrap-animate">
                    <div class="probootstrap-counter text-center">
                        <span class="probootstrap-number" data-number="10">0</span>
                        <span class="probootstrap-label">Number of Staffs</span>
                    </div>
                </div>
                <div class="col-md probootstrap-animate">
                    <div class="probootstrap-counter text-center">
                        <span class="probootstrap-number" data-number="300">0</span>
                        <span class="probootstrap-label">Happy Patients</span>
                    </div>
                </div>    
            </div>
        </div>
    </section>

    {% include "footer.html" %}

{% endblock %}
