{% extends "dashboard/dashboard_base.html" %}

{% block content %}

    <!-- Navbar -->
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures min-vh-100 dashboard-nav">
        <div class="nano">
            <div class="nano-content">
                <div class="logo"><a href="{% url 'homepage' %}" target="_blank"><span>Health Center Portal</span></a></div>
                <ul>
                    <li class="{% block student_dashboard_active %}{% endblock %}"><a href="{% url 'student_dashboard' %}"><i class="ti-user"></i> History</a></li>
                    <li class="{% block student_medicines_stock_active %}{% endblock %}"><a href="{% url 'student_medicines_stock' %}"><i class="ti-layout-grid3-alt"></i> Medicine Stock Information</a></li>
                    <li><a href="app-profile.html"><i class="ti-pencil-alt"></i> Book Appointment</a></li>
                    <li class="close-sidenav"><a href="#"><i class="ti-arrow-left"></i> Close Sidenav</a></li>
                    <li><a href="{% url 'logout' %}"><i class="ti-power-off"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% block main_content %}
    {% endblock %}

{% endblock %}

{% block dashboard_script_files %}

    <script>
        var ele = document.getElementsByClassName("close-sidenav")[0];
        ele.addEventListener('click', function(){
            var body = document.getElementsByTagName('body')[0];
            body.classList.toggle('sidebar-hide');
            var hamburger = document.querySelector('.hamburger.sidebar-toggle');
            hamburger.style.display = "inline-block";
            ele.classList.toggle('active');
        })
    </script>

{% endblock %}
